@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="col-sm-12 badge badge-dark">
            <h1>Kategoriler Listesi</h1>
            <a href="/Category/AddCategory" class="btn btn-info col-6">Kategori Ekle</a>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="/Category" data-source-selector="#card-refresh-content" data-load-on-init="true"><i class="fas fa-sync-alt"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div><br />
            <div class="card-body p-0">
                <table id="categoryTable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 8%">Kategori</th>
                            <th style="width: 35%">Kategori Açıklama</th>
                            <th style="width: 8%"></th>
                            <th style="width: 10%">Durum</th>
                            <th style="width: 10%"></th>
                            <th style="width: 30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="border-bottom:groove">
                                <td><span class="badge badge-warning"><b>@item.CategoryName</b></span></td>
                                <td><b>@item.CategoryDescription</b></td>
                                <td></td>
                                <td>
                                    @if (item.CategoryStatus == true)
                                    {
                                        <span class="badge badge-success"><b>Aktif</b></span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger"><b>Pasif</b></span>
                                    }
                                </td>
                                <td>
                                    @if (item.CategoryStatus == true)
                                    {
                                        <a class="btn btn-outline-dark btn-sm" href="/Category/StatusCategory/@item.CategoryID">
                                            <i style="font-size:15px" class="fas fa-lock"></i>&nbsp;<b>Pasif Yap</b>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-sm" href="/Category/StatusCategory/@item.CategoryID">
                                            <i style="font-size:15px" class="fas fa-lock-open"></i>&nbsp;<b>Aktif Yap</b>
                                        </a>
                                    }
                                </td>
                                <td class="project-actions text-right">
                                    <a style="font-size:15px;" class="badge bg-primary" href="/Category/CategoryContentDetail/@item.CategoryID">
                                        <i class="fas fa-folder"></i>&nbsp;Yazılar
                                    </a>
                                    <a style="font-size:15px;" class="badge bg-gray" href="/Category/EditCategory/@item.CategoryID">
                                        <i class="fas fa-edit"></i>&nbsp;Düzenle
                                    </a>
                                    <a style="font-size:15px;" class="badge bg-danger" href="/Category/DeleteCategory/@item.CategoryID">
                                        <i class="fas fa-trash"></i>&nbsp;Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
