
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1<del>Profilim</del></p>
<p>#2<del>Tüm Başlıklarda Paging</del></p>
<p>#3<del>Mesajlarda Session</del></p>
<p>#4<del>Oturum Yönetiminin Mimariye Taşınması</del></p>