
@using EntityLayer.Concrete
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="col-sm-12 badge badge-dark">
            <h1>Yazarlar Listesi</h1>
            <a href="/Writer/AddWriter" class="btn btn-info col-12">Yazar Ekle</a>
        </div>
        <div id="writer-list-container">
            @Html.Partial("WriterPartialView", Model)
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on("click", ".pagination a", function (event) {
            event.preventDefault();
            var page = $(this).attr("href").split("p=")[1];
            $.ajax({
                url: '/Writer/Index',
                data: { p: page },
                type: "GET",
                success: function (result) {
                    $("#writer-list-container").html(result);
                }
            });
        });
    </script>
</body>
</html>